<div class="top-cover">
  <div class="bg-overlay">
    <div class="top-main">
      <div class="container">
        <div class="main">
          <h2 class="welcome">Wlcome to FavLines</h2>
          <p class="catch-copy">You can share your favorite lines from novels, practical books and so on!!</p>
        </div>
      </div>
    </div>
  </div>
</div>
